h1 {
    color: green;
    font-style: italic;
}

li {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.info {
    color: black;
    background-color: green;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    border-color: darkgreen;
    padding: 10px;
    margin-bottom: 10px;
}

img {
    border: 5px solid #cfcfcf;
}